.app {

}

.read__image-contain{
    object-fit: fill !important;
    height: 100% !important;
    width: 100% !important;
}

.objectFit__contain{
    object-fit: fill !important;
    height: 100% !important;
}
