.main__page-normal{
    height: 926px;
    width: 100%;
}

.main__page-zoom{
    height: 100%;
    width: auto;
}

.side__page-normal{
    width: 100%;
    height: 926px;
}

.side__page-zoom{
    flex-grow: 1;
    width: auto;
}



.main__image-normal{
    object-fit: fill !important;
    height: 100% !important;
    width: 100% !important;
}

.main__image-zoom{
    object-fit: contain;
    max-width: 1700px !important;
}

.side__image-normal{
    object-fit: fill !important;
    height: 100% !important;
    width: 100% !important;
}

.side__image-zoom{
    max-width: 1700px !important;
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
}

.side__image-left{
    object-position: right;
}

.side__image-right{
    object-position: left;
}